<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Розпізнавання української мови</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="col-12 col-md-8 col-sm-12 col-xl-6 mx-auto text-center">
            <h1>Демо розпізнавання української мови</h1>
            <p>Говоріть 3 секунди після натискання на кнопку, тоді отримаєте результат</p>
            <div class="row no-gutters">
                <div class="col-1 col-sm-2">&nbsp;</div>
                <div class="col-6">
                    <button class="btn btn-primary" id="action" onclick="handleAction()">Почати запис (3 сек)</button>
                </div>
                <div class="col-5 col-sm-4">
                    <select id="lang" class="browser-default custom-select">
                        <option selected value="uk">Українська</option>
                        <option value="en">Англійська</option>
                    </select>
                </div>
            </div>
            <div id="result"></div>
        </div>
    </div>
    <script src="/static/recorder.js"></script>
    <script src="/static/main.js"></script>
</body>

</html>